th{
    color: #ffffff;
    background-color: #336699;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    font-size: 9pt;
}

td{
    color: red;
    background-color: #e6e6fa;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    font-size: 9pt;
}